body {
  margin: 0;
  background-color: rgb(35, 41, 47);
  font-family: Noto Sans Japanese, Noto Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
